<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <h1>Edit Location</h1>

    <%= render :partial => "form", :object => @location %>

  </div>
  <div class="col-xs-1"></div>
</div>
