<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <h1>Admin Panel</h1>

    <div class="panel panel-default">
      <div class="panel panel-heading">
        <div class="panel-title">
          Administration Dashboard
        </div>
      </div>
      <div class="panel panel-body">
        <p><%= link_to "Update User Admin Status", admin_admins_path %></p>
        <p><%= link_to "Update Locations", admin_locations_path %></p>
      </div>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>
