<h1>Locations</h1>

<%= @locations.each do |location| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= location.location %>
      <%= link_to "Edit", edit_location_path %>
      <%= link_to "Delete", destroy_location_path %>
    </div>
  </div>
<% end %>
